<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Producto</title>
    <link rel="stylesheet" href="/partials/producto/addProducto.css">
    <link rel="stylesheet" href="/partials/header/header.css">

</head>
<body>
    <%- include('../partials/header')%>
    <div class="container-form">
        <form id="productForm">
            <div class="form-group">
                <label for="productName">Nombre del producto</label>
                <input type="text" id="productName" required>
            </div>

            <div class="form-group">
                <label for="barcode">Codigo de barras</label>
                <input type="text" id="barcode" required>
            </div>

            <div class="ingredients-section">
                <h2 class="ingredients-header">Ingredientes</h2>
                <div class="ingredients-form">
                    <select id="ingredientSelect">
                        <option value="">Seleccionar ingrediente...</option>
                        <% ingredients.forEach(function(ingredient) { %>
                            <option value="<%= ingredient.id %>"><%= ingredient.nombre %></option>
                        <% }); %>
                    </select>
                    <input type="text" id="ingredientQuantity" placeholder="Cantidad">
                    <button type="button" class="btn btn-add" id="addIngredient">agregar</button>
                </div>
            </div>

            <div class="form-group">
                <label for="recipe">Receta</label>
                <div id="recipe" class="recipe-container">
                    <div class="added-ingredients" id="addedIngredients"></div>
                </div>
            </div>

            <div class="actions">
                <button type="submit" class="btn btn-save">Guardar</button>
                <button type="button" class="btn btn-delete">Eliminar</button>
                <button type="button" class="btn btn-modify">Modificar</button>
                <button type="button" class="btn btn-add-new">Añadir</button>
            </div>
        </form>
    </div>

    <script src="/partials/producto/addProducto.js"></script>
</body>
</html>